name: Test Nak Publication

on:
  workflow_dispatch:

jobs:
  test-nak:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install nak
        shell: bash
        run: |
          go install -tags=debug github.com/fiatjaf/nak@latest
          nak event